/*___________________________ */
/* Общие стили*/
/*___________________________ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #c4cce7;
    color: #1f2937;
}

/*___________________________ */
/* Стили для навигационного меню */
/*___________________________ */


nav{
      background-color: #3860ae;
      padding: 16px;
      display: flex;
      gap: 16px;
      justify-content: center;
      align-items: center;
}

nav a{
    color: #ffffff;
    font-size: 18px;
    text-decoration:none;
    font-weight: 500;
}

nav a.router-link-exact-active {
  text-decoration: underline;
}


/*___________________________ */
/* Стили для фильтров */
/*___________________________ */

.filters {
 padding: 5px 0px 0px 24px;
}

.filters-item{
  padding: 7px 0px 0px 0px;
}

/*___________________________ */
/* Стили для таблицы */
/*___________________________ */

.loan-list {
  padding: 24px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  border: 1px solid #1f2937;
  text-align: center;
}
button {
  padding: 6px 12px;
  background-color: #3860ae;
  color: white;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #3749c1;
}

/*___________________________ */
/* Стили для создания заявки */
/*___________________________ */

.create-loan {
  text-align: center;
  margin: 15px;
}
.loan-form{
  display: flex;
  flex-direction: column;
  gap: 3px;
  max-width: 480px;
  margin: 0 auto;
  padding: 25px;
  border: 2px solid #ffffff;
  background-color: #6b8ed6;
}

.loan-form label{
  color: #1f2937;
  font-size: 18px;
}

.b-create-loan{
  margin: 10px 70px 0px 70px ;
 font-size: 20px;
}

.form-row {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.form-row label {
  flex: 1;
  color: #1f2937;
  font-weight: 500;
}

.form-row input {
  flex: 2;
  min-height: 22px;
  text-align: left;
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-left: 10px;
}
